@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800&display=swap');

.body{
    background-color:#161618 ;
}
.header-background-color{
    background-color: #1F1F21;
}
.main-background{
    background-color:#161618 ;
}
.nav-link {
    font: #B2B2B2;
}
.navbar-title{
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 300;
    color: #B2B2B2 !important;
    text-decoration: none;
    transition-duration: 0.15s;
    margin-bottom: 0 !important;
}
.navbar-title:hover{
    color: white !important;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.hi-styling{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800 !important;
}
.title-styling

    h4{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    }
    h4:before,
    h4:after{
        content: "";
        flex: 1 1;
        border-bottom: 3px solid #890000;
        margin: auto;
    }
    h4:before{
        margin-right: 15px;
    }
    h4:after{
        margin-left: 15px;
    }
.about-styling{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300 !important;
    color: #C8C8C8;
}

.progress_bar .pro-bar {
    background: hsl(0, 0%, 97%);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
    height:4px;
    margin-bottom: 12px;
    margin-top: 50px;
    position: relative;
}
.progress_bar .progress_bar_title{
    font-family: 'Open Sans', sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    font-weight: 300;
    position: relative;
    top: -28px;
    z-index: 1;
}
.progress_bar .progress_number{
    float: right;
    margin-top: -1px;
}
.progress_bar .progress-bar-inner {

    background-color: hsl(0, 0%, 88%);
    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s linear 0s;
}
.progress_bar .progress-bar-inner:before {
    content: "";
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: absolute;
    right: 1px;
    top: 0;
    z-index: 1;
}
.progress_bar .progress-bar-inner:after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: inherit;
    border-radius: 50%;
    position: absolute;
    right: -4px;
    top: -5px;
}
.card-color{
    border-radius: 40px !important;
    background-color: rgb(212, 30, 30) !important;
    transition-duration: 0.4s !important;
}
.card-color:hover{
    cursor: pointer;
    background-color: rgb(172, 30, 39) !important;
}
.card-title-style{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600 !important;
}
.technology-style{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500 !important;
}
.input-style{
    border-radius: 0 !important; 
    border: none !important; 
    border-bottom: 1px solid white !important;
    background-color:#161618 !important;
}
input{
    font-family:'Montserrat', sans-serif !important ;
    font-weight: 500 !important; 
}
input::placeholder{
    font-family:'Montserrat', sans-serif !important ;
    font-weight: 500 !important; 
}
label{
    font-family:'Montserrat', sans-serif !important ;
    font-weight: 600 !important; 
}
textarea{
    font-family:'Montserrat', sans-serif !important ;
    font-weight: 500 !important; 
}
button{
    font-family:'Montserrat', sans-serif !important ;
    font-weight: 500 !important; 
}
.invalid-feedback{
    font-family:'Montserrat', sans-serif !important ;
    font-weight: 500 !important; 
}
.valid-feedback{
    font-family:'Montserrat', sans-serif !important ;
    font-weight: 500 !important; 
}
input:focus{
    box-shadow: none !important;
}
textarea:focus{
    box-shadow: none !important;
}
button:focus{
    box-shadow: none !important;
}
.icon-hover{
    transition-duration: 0.4s;
}
.icon-hover:hover{
    color: white !important;
}
.talk-style{
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
}
.copyright-style{
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
}
.underline-style{
    text-decoration: underline 1px solid white;
    text-underline-offset: 3px;
}

.card {
    background-color: #343a40; /* Background color */
    border-radius: 20px; /* Rounded corners */
    overflow: hidden; /* Hide overflow content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
    transition: transform 0.3s ease; /* Smooth transition on hover */
  }

.card:hover {
    transform: translateY(-15px); /* Move the card up slightly on hover */
  }

.card-img-top {
    border-top-left-radius: 20px; /* Rounded top-left corner for the image */
    border-top-right-radius: 20px; /* Rounded top-right corner for the image */
  }

.card-body {
    padding: 1.5rem; /* Padding inside the card body */
  }

.card-title {
    font-size: 1.25rem; /* Title font size */
    margin-bottom: 0.5rem; /* Bottom margin for the title */
  }

.card-text {
    font-size: 1rem; /* Text font size */
    color: #dee2e6; /* Text color */
  }

  .rounded-square {
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Set the height equal to the width for a square */
    border-radius: 10px; /* Adjust border-radius to half of the width for a rounded square */
    overflow: hidden; /* Ensure image doesn't overflow */
  }
  
  .resume-card {
    position: relative;
    overflow: hidden;
  }
  
  .resume-card img {
    transition: transform 0.3s ease;
  }
  
  .resume-card:hover img {
    transform: scale(1.57); /* Increase the scale value for a stronger zoom effect */
  }
  
  .view-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
  }
  
  .resume-card:hover .view-cover {
    opacity: 1; /* Show view cover on hover */
  }
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
  }
  
  .popup-content {
    color: white;
  }
  
  .close {
    color: white;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: red;
  }
  .resume-card {
    border: 2px solid #ffffff;
    padding: 1px;
    border-radius: 20px;
    background-color: white;